{% load static %}
<div id="carouselExampleFade" class="carousel slide carousel-fade owl-carousel home-slider">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="Slide 1">
          <div class="slider-item overlay"></div> <!-- Add overlay div for CSS -->
      </div>
      <div class="carousel-item">
          <img src="{% static 'images/1.jpg' %}" class="d-block w-100" alt="Slide 2">
          <div class="slider-item overlay"></div> <!-- Add overlay div for CSS -->
      </div>
      <div class="carousel-item">
          <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="Slide 3">
          <div class="slider-item overlay"></div> <!-- Add overlay div for CSS -->
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>



  <section class="ftco-section ftco-no-pt ftc-no-pb text-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 order-md-last wrap-about d-flex align-items-stretch">
                <img src="{% static 'images/about.jpg' %}" alt="Description of the image" class="img-fluid">
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
                <h2 class="mb-4">What We Offer</h2>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                            <div class="text pl-3">
                                <h3>Safety First</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                            <div class="text pl-3">
                                <h3>Regular Classes</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="services-2 d-flex">
                      <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                      <div class="text pl-3">
                      <h3>Certified Teachers</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                      </div>
                      </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="services-2 d-flex">
                      <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                      <div class="text pl-3">
                      <h3>Sufficient Classrooms</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                      </div>
                      </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="services-2 d-flex">
                      <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                      <div class="text pl-3">
                      <h3>Creative Lessons</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                      </div>
                      </div>
                      </div>
                      <div class="col-lg-6">
                      <div class="services-2 d-flex">
                      <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                      <div class="text pl-3">
                      <h3>Sports Facilities</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                      </div>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg); background: #0d1128; background: -moz-linear-gradient(45deg, #0d1128 0%, #fd6100 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #0d1128), color-stop(100%, #fd6100)); background: -webkit-linear-gradient(45deg, #0d1128 0%, #fd6100 100%); background: -o-linear-gradient(45deg, #0d1128 0%, #fd6100 100%); background: -ms-linear-gradient(45deg, #0d1128 0%, #fd6100 100%); background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1128', endColorstr='#fd6100', GradientType=1 );">
  <div class="container">
      <div class="row justify-content-center mb-5 pb-2 d-flex">
        <div class="col-md-6 align-items-stretch d-flex">
          <img src="{% static 'images/1.jpg' %}" class="img-fluid">
      </div>
      
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
              <h2 class="mb-4">AjaxitSolutions</h2>
              <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
      </div>
      <div class="row d-md-flex align-items-center justify-content-center">
          <div class="col-lg-12">
              <div class="row d-md-flex align-items-center">
                  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                      <div class="block-18">
                          <div class="icon"><span class="flaticon-doctor"></span></div>
                          <div class="text">
                              <strong class="number" data-number="18">0</strong>
                              <span>Certified Teachers</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="icon"><span class="flaticon-doctor"></span></div>
                        <div class="text">
                            <strong class="number" data-number="401">401</strong>
                            <span>Students</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="icon"><span class="flaticon-doctor"></span></div>
                        <div class="text">
                            <strong class="number" data-number="30">30</strong>
                            <span>Courses</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="icon"><span class="flaticon-doctor"></span></div>
                        <div class="text">
                            <strong class="number" data-number="50">50</strong>
                            <span>Awards Won</span>
                        </div>
                    </div>
                </div>
                
              </div>
          </div>
      </div>
  </div>
</section>

